[req]
default_bits = 4096
prompt = no
default_md = sha256
distinguished_name = dn
req_extensions = v3_req

[dn]
CN = remarkable-cloud
O = rusty-vault
C = DE

[v3_req]
subjectAltName = @alt_names
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth

[alt_names]
DNS.1 = *.appspot.com
DNS.2 = my.remarkable.com
DNS.3 = ping.remarkable.com
DNS.4 = internal.cloud.remarkable.com
DNS.5 = webapp-prod.cloud.remarkable.engineering
DNS.6 = eu.tectonic.remarkable.com
DNS.7 = backtrace-proxy.cloud.remarkable.engineering
DNS.8 = hwr-production-dot-remarkable-production.appspot.com
DNS.9 = service-manager-production-dot-remarkable-production.appspot.com
DNS.10 = local.appspot.com
